.item-card {
    border-radius: 0.5rem;
    padding: 1rem;
    height: auto;
    margin-bottom: 12px;
    margin-left: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item-name {
    font-size: 24px;
    margin-bottom: 8px;
}

.item-description {
    font-size: 16px;
    margin-bottom: 16px;
}

.item-price {
    font-size: 16px;
}

.item-size {
    font-size: 20px;
    margin-bottom: 8px;
}

.add-button {
    align-self: center;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s;
}
